<div class="jumbotron">
  <h1 class="display-4">About us</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eaque fugit ex. Modi accusamus, dicta repellat doloribus quis, maxime rerum fugiat laborum corporis non consectetur quae veritatis error maiores voluptatem?</p>
</div>
