<div class="jumbotron">
  <h1 class="display-4"><b>Live is</b></h1>
  <div class="call">
    <p class="lead"><b>Either adventure OR NOTHING</b></p>
  </div>
  <hr class="my-4">
  <div class="text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
    <a class="btn btn-primary btn-lg " href="#" role="button">Log in</a>
  </div>
</div>
